body {
	margin-top: 100px;
	text-align: center;

	font-family: 'Courier New', Courier, monospace;

	background-color: rgb(96, 96, 96);
}

h1 {
	font-size: 50px;
}

button {
	padding: 10px;
	margin: 10px;

	border-radius: 25%;
	
	text-transform: uppercase;
	font-weight: 600;
}

select {
	width: 200px;
}

#dropdown {
	margin: 20px;
}

li {

	background-color: #f5f5dc;
	width: 300px;

	padding: 5px;

	list-style-type: none;

	margin-bottom: 20px;
}

#results {

  display: flex;
  justify-content: center;	

}

#delete {
	text-align: center;
	width: 20px;

	border-width: 1px;
	border-style: dotted;
	border-radius: 20px;

	margin: 5px;
}

#note-div {
	padding: 10px;
}

#date, #note {
	border-width: 1px 0px 0px 0px;
	border-style: dashed;
	
	padding-top: 10px
}

#course {
	text-transform: uppercase;
}